# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
vue
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
*.sqlite
pop-up*
cash./.git/objects/pack/pack-f48287d5942d7d35e6f057e73cc71fbde282e1df.pack
./frontend/node_modules/vite/dist/node/chunks/dep-jDlpJiMN.js
./frontend/node_modules/@vue/compiler-sfc/dist/compiler-sfc.esm-browser.js
./frontend/node_modules/@esbuild/linux-x64/bin/esbuild
./frontend/node_modules/esbuild/bin/esbuild
./frontend/node_modules/@babel/parser/lib/index.js.map
./frontend/node_modules/@rollup/rollup-linux-x64-gnu/rollup.linux-x64-gnu.node
./frontend/node_modules/@rollup/rollup-linux-x64-musl/rollup.linux-x64-musl.node
text/plain
./.git/objects/pack/pack-6bccb3e381c5fc6835cb3df1f93a527ad706023d.pack
./.git/objects/pack/pack-1b028b06d2e75173ccbafd0ee523fffcd1a0ab03.pack
./.git/objects/pack/pack-9db4695bcba562989aaec2e3156fc6f665a945c3.pack
./frontend/node_modules/vite/dist/node/chunks/dep-whKeNLxG.js
./.git/objects/pack/pack-d671cc233ac9e56aa8518e7d343fe93e5aac9381.pack
./.git/objects/pack/pack-5caed8edeff1222c8126e83828a460a02c1394c7.pack
./.git/objects/pack/pack-15acc497924289b1ae2e2342f0e12b20371d878d.pack
./frontend/node_modules/.vite/deps/chunk-JXSOPAYJ.js
./frontend/node_modules/.vite/deps/chunk-GMM36UL7.js.map
./frontend/node_modules/.vite/deps/chunk-JXSOPAYJ.js.map
