.profile-avatar {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
  bottom: 16px;
  left: 24px;
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #1b86f9;
  box-shadow: 0 0 20px #1b86f9;
}


.status-share {
  background-color: #1b86f9;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: 0 0 20px #1b86f9;
  cursor: pointer;
}

input[type="file"] {
  background-color: #1b86f9;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: 0 0 20px #1b86f9;
  cursor: pointer;
}

.status-share:hover {
  background-color: #0f7bef;
}

.back {
  position: fixed;
  top: 18px;
  left: 20px;
  background: #2222229e;
  border-radius: 7px;
  z-index: 19999;
}

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100hv;
  font-family: Poppins-Regular, sans-serif;
  background-image: url("/web/static/media/cover_zone02.jpg");
  background-position: center;
  background-size: cover;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

/*---------------------------------------------*/
iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

/*//////////////////////////////////////////////////////////////////[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-size: c;
}

.wrap-login100 {
  width: 883px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 97px 35px 95px;
  align-items: center;
}

/*------------------------------------------------------------------[  ]*/
.login100-pic {
  width: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.login100-pic span {
  font-family: Poppins-Regular;
  z-index: 55;
  color: #333333;
  margin-top: 20px;
}

.login100-pic sub {
  font-size: 9px;
}

.login100-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------[  ]*/
.login100-form {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.success {
  color: #00ff11 !important;
  display: block !important;

}

.nosuccess {
  color: #ff0000 !important;
  display: block !important;
}

.login100-form-error {
  font-family: Poppins-Bold;
  font-size: 16px;
  color: #333333;
  text-align: center;
  width: 100%;
  display: none;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 48px;
  border-radius: 5px;
  padding: 0 15px;
  margin: 11px 0px;
}

/*------------------------------------------------------------------[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

/*------------------------------------------------------------------[ Responsive ]*/
@media (max-width: 992px) {
  .wrap-login100 {
    padding: 62px 90px 100px 85px;
  }

  .login100-pic {
    width: 50%;
    height: 50%;
  }

  .login100-pic .profile-img {
    width: 250px;
    height: 250px;
  }

  .login100-form {
    width: 50%;
  }

  .login100-form-title {
    padding-top: 28px;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 62px 80px 100px 80px;
  }

  .login100-pic {
    width: 180px;
    height: 155px;
  }

  .login100-pic .profile-img {
    width: 150px;
    height: 150px;
  }

  .login100-form {
    width: 100%;
  }

  .login100-form-title {
    padding-top: 28;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 62px 15px 100px 15px;
  }

  .login100-form-title {
    padding-top: 28;
  }
}